
// Global structure.
// --------------------------------------------------------
* {margin: 0;padding: 0;}

html {scroll-behavior: smooth;}

#app {overflow-x: hidden;}

body {
  font: 15px 'sans-serif', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
  color: #2c3e50;
}

.month-view > .vuecal__flex {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
}

.year-view > .vuecal__flex {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
}

